{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>history</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/02.css' %}">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
</head>
<body>
    <div class="web_bg" style="background-image: url({% static 'img/backGround.jpg' %})"></div>
    <div class="history">
        <div class="context">
            <p class="title">历史记录</p>
        </div>
        <div class="context">
            <table id="totleList">
                <tr>
                    <!-- <th>日期</th>
                    <th>待做事项</th>
                    <th>已做事项</th> -->
                </tr>
            </table>
        </div>
        <div class="title">
            <input type="file" id="files" style="display: none" accept=".json" onchange="fileImport();">
            <a id="fileImport" href="javascript:fileImport();">导入</a>
            <a href="javascript:downLoad();">下载</a>
        </div>    
    </div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/02.js' %}" charset="UTF-8"></script>
</html>